<h1>Rezervacije</h1>
<hr>
<br>
<h2>Neobrađene rezervacije</h2>
<table>
    <tr *ngFor="let rezervacija of neobradjene">
        <td>{{ rezervacija.ime_gosta }},</td>
        <td>{{ rezervacija.formatiran_datum }},</td>
        <td>{{ rezervacija.vreme }},</td>
        <td>osoba - {{ rezervacija.mesta }}</td>
        <td><button (click)="obradi(rezervacija)">Obradi</button></td>
    </tr>
</table>

<h2>Moje prihvaćene rezervacije</h2>
<table>
    <tr *ngFor="let rezervacija of obradjene">
        <td>{{ rezervacija.ime_gosta }},</td>
        <td>{{ rezervacija.formatiran_datum }},</td>
        <td>{{ rezervacija.vreme }},</td>
        <td>osoba - {{ rezervacija.mesta }}</td>
        <td *ngIf="rezervacija.istekla == false && rezervacija.pola_sata == true"><button (click)="dosli(rezervacija)">Došli</button></td>
        <td *ngIf="rezervacija.istekla == false && rezervacija.pola_sata == true"><button (click)="nisuDosli(rezervacija)">Nisu došli</button></td>
        <td *ngIf="rezervacija.ispunjena == true && rezervacija.produzena == false"><button (click)="produzi(rezervacija)">Produži</button></td>
    </tr>
</table>