<header>
    <nav>
        <ul>
            <li><button (click)="predjiNa('admin/pregled')">Pregled gostiju, konobara i restorana</button></li>
            <li><button (click)="predjiNa('admin/zahtevi')">Zahtevi za nalozima</button></li>
            <li><button (click)="predjiNa('admin/dodavanje_restorana')">Novi restoran</button></li>
            <li><button (click)="predjiNa('admin/dodavanje_konobara')">Novi konobar</button></li>
            <li><button (click)="predjiNa('promena_lozinke')">Promena lozinke</button></li>
            <li><button (click)="izloguj()">Izloguj se</button></li>
        </ul>
    </nav>
</header>

<h1>Pregled gostiju, konobara i restorana</h1>
<hr>
<br>
<h2>Gosti</h2>
<br>
<table>
    <tr>
        <th>Korisničko ime</th>
        <th>Pregled</th>
        <th>Deaktiviraj/Odblokiraj</th>
    </tr>
    <tr *ngFor="let gost of gosti">
        <td>{{ gost.kor_ime }}</td>
        <td><button (click)="pregled(gost)">Pregled</button></td>
        <td *ngIf="gost.aktivan == true"><button (click)="deaktiviraj(gost)">Deaktiviraj</button></td>
        <td *ngIf="gost.aktivan == false"><button (click)="odblokiraj(gost)">Odblokiraj</button></td>
    </tr>
</table>
<br>
<h2>Konobari</h2>
<br>
<table>
    <tr>
        <th>Korisničko ime</th>
        <th>Pregled</th>
        <th>Deaktiviraj/Odblokiraj</th>
    </tr>
    <tr *ngFor="let konobar of konobari">
        <td>{{ konobar.kor_ime }}</td>
        <td><button (click)="pregled(konobar)">Pregled</button></td>
        <td *ngIf="konobar.aktivan == true"><button (click)="deaktiviraj(konobar)">Deaktiviraj</button></td>
        <td *ngIf="konobar.aktivan == false"><button (click)="odblokiraj(konobar)">Odblokiraj</button></td>
    </tr>
</table>
<br>
<h2>Restorani</h2>
<br>
<table>
    <tr>
        <th>Naziv</th>
        <th>Adresa</th>
        <th>Pregled</th>
        <th colspan="2">Radno vreme</th>
    </tr>
    <tr *ngFor="let restoran of restorani">
        <td>{{ restoran.naziv }}</td>
        <td>{{ restoran.adresa }}</td>
        <td><button (click)="pregledRestorana(restoran)">Pregled</button></td>
        <td *ngIf="!restoran.radno_vreme">
            <button (click)="otvoriFormu(restoran)">Dodaj radno vreme kuhinje</button>
        </td>
        <td *ngIf="restoran.dodaj_vreme">
            <table>
                <tr *ngFor="let dan of radno_vreme">
                    <td>{{ dan.dan }}</td>
                    <td>
                        <input type="time" [(ngModel)]="dan.otvara">
                        <input type="time" [(ngModel)]="dan.zatvara">
                    </td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <input type='button' value='Dodaj' (click)='dodajRadnoVreme(restoran)'>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<footer>Kutak dobre hrane - Programiranje internet aplikacija 2024.</footer>