<header>
    <nav>
        <ul>
            <li><button (click)="predjiNa('profil')">Profil</button></li>
            <li><button (click)="predjiNa('rezervacije_konobar')">Rezervacije</button></li>
            <li><button (click)="predjiNa('porudzbine_konobar')">Dostave</button></li>
            <li><button (click)="predjiNa('statistika')">Statistika</button></li>
            <li><button (click)="predjiNa('promena_lozinke')">Promena lozinke</button></li>
            <li><button (click)="izloguj()">Izloguj se</button></li>
        </ul>
    </nav>
</header>

<h1>Statistika</h1>
<hr>
<br>
<div id="chartContainer" style="width: 100%; height: 400px;"></div>
<br>
<div id="pieChartContainer" style="width: 100%; height: 400px;"></div>
<br>
<div id="histogramContainer" style="width: 100%; height: 400px;"></div>

<footer>Kutak dobre hrane - Programiranje internet aplikacija 2024.</footer>