<header *ngIf="korisnik.tip == 'A'">
    <nav>
        <ul>
            <li><button (click)="predjiNa('admin/pregled')">Pregled gostiju, konobara i restorana</button></li>
            <li><button (click)="predjiNa('admin/zahtevi')">Zahtevi za nalozima</button></li>
            <li><button (click)="predjiNa('admin/dodavanje_restorana')">Novi restoran</button></li>
            <li><button (click)="predjiNa('admin/dodavanje_konobara')">Novi konobar</button></li>
            <li><button (click)="izloguj()">Izloguj se</button></li>
        </ul>
    </nav>
</header>

<header *ngIf="korisnik.tip == 'G'">
    <nav>
        <ul>
            <li><button (click)="predjiNa('profil')">Profil</button></li>
            <li><button (click)="predjiNa('restorani_gost')">Restorani</button></li>
            <li><button (click)="predjiNa('rezervacije_gost')">Rezervacije</button></li>
            <li><button (click)="predjiNa('porudzbine_gost')">Dostava hrane</button></li>
            <li><button (click)="predjiNa('promena_lozinke')">Promena lozinke</button></li>
            <li><button (click)="izloguj()">Izloguj se</button></li>
        </ul>
    </nav>
</header>

<header *ngIf="korisnik.tip == 'K'">
    <nav>
        <ul>
            <li><button (click)="predjiNa('profil')">Profil</button></li>
            <li><button (click)="predjiNa('rezervacije_konobar')">Rezervacije</button></li>
            <li><button (click)="predjiNa('porudzbine_konobar')">Dostave</button></li>
            <li><button (click)="predjiNa('statistika')">Statistika</button></li>
            <li><button (click)="predjiNa('promena_lozinke')">Promena lozinke</button></li>
            <li><button (click)="izloguj()">Izloguj se</button></li>
        </ul>
    </nav>
</header>

<h1 *ngIf="admin_pregled == false">Moj profil</h1>
<h1 *ngIf="admin_pregled == true">Pregled korisnika</h1>
<hr>
<br>
<table>
    <tr>
        <td>Ime</td>
        <td>
            {{korisnik.ime}}
        </td>
        <td>
            <input type="button" value="Ažuriraj" (click)="azuriraj('ime')">
        </td>
    </tr>
    <tr>
        <td>Prezime</td>
        <td>
            {{korisnik.prezime}}
        </td>
        <td>
            <input type="button" value="Ažuriraj" (click)="azuriraj('prezime')">
        </td>
    </tr>
    <tr>
        <td>Adresa</td>
        <td>
            {{korisnik.adresa}}
        </td>
        <td>
            <input type="button" value="Ažuriraj" (click)="azuriraj('adresa')">
        </td>
    </tr>
    <tr>
        <td>Kontakt telefon</td>
        <td>
            {{korisnik.telefon}}
        </td>
        <td>
            <input type="button" value="Ažuriraj" (click)="azuriraj('telefon')">
        </td>
    </tr>
    <tr>
        <td>I-mejl adresa</td>
        <td>
            {{korisnik.mejl}}
        </td>
        <td>
            <input type="button" value="Ažuriraj" (click)="azuriraj('mejl')">
        </td>
    </tr>
    <tr *ngIf="korisnik.tip == 'G'">
        <td>Broj kreditne kartice</td>
        <td>
            {{korisnik.broj_kartice}}
        </td>
        <td>
            <input type="button" value="Ažuriraj" (click)="azuriraj('broj_kartice')">
        </td>
    </tr>
</table>
<div>
    <img [src]="korisnik.slika">
</div>
<p><input type="button" value="Ažuriraj profilnu" (click)="azurirajProfilnu()"></p>

<table *ngIf="za_azuriranje_poruka != ''">
    <tr>
        <td>Unesite {{za_azuriranje_poruka}}</td>
        <td>
            <input type='text' name='novo' [(ngModel)]='novo'>
        </td>
        <td>
            <input type="button" value="Sačuvaj promene" (click)="sacuvaj()">
        </td>
    </tr>
</table>
<table *ngIf="za_azuriranje == 'slika'">
    <tr>
        <td>Unesite novu profilnu</td>
        <td>
            <input type="file" name="slika" (change)="unetaSlika($event)" accept="image/*">
        </td>
        <td>
            <input type="button" value="Sačuvaj promene" (click)="sacuvajSliku()">
        </td>
    </tr>
    <tr>
        <td>Uklonite trenutnu profilnu</td>
        <td>
            <input type="button" value="Ukloni" (click)="ukloniSliku()">
        </td>
    </tr>
</table>
<hr>
<div class="greske">{{this.greske}}</div>

<footer>Kutak dobre hrane - Programiranje internet aplikacija 2024.</footer>