<header>
    <nav>
        <ul>
            <li><button (click)="predjiNa('prijava')">Prijavi se</button></li>
            <li><button (click)="predjiNa('registracija')">Registruj se</button></li>
        </ul>
    </nav>
</header>

<h1>Kutak dobre hrane</h1>
<hr>
<br>
<div>
    <p><strong>Ukupan broj restorana:</strong> {{broj_restorana}}</p>
    <p><strong>Ukupan broj registrovanih gostiju:</strong> {{broj_gostiju}}</p>
    <p><strong>Broj rezervacija u poslednja 24 časa:</strong> {{rezervacije_dan}}</p>
    <p><strong>Broj rezervacija u poslednjih 7 dana:</strong> {{rezervacije_nedelja}}</p>
    <p><strong>Broj rezervacija u poslednjih mesec dana:</strong> {{rezervacije_mesec}}</p>
</div>
<br>
<h2>Restorani</h2>
<br>
<table>
    <tr>
        <td>Sortiraj po</td>
        <td>
            <select [(ngModel)]="sortiranje_po" name="sortiranje_po">
                <option value="naziv">nazivu</option>
                <option value="adresa">adresi</option>
                <option value="tip">tipu</option>
            </select>
        </td>
        <td>
            <label>
                <input type="radio" name="nacin" [(ngModel)]="nacin" value="neopadajuce" checked> neopadajuće
            </label>
            <label>
                <input type="radio" name="nacin" [(ngModel)]="nacin" value="nerastuce"> nerastuće
            </label>
        </td>
        <td>
            <button (click)="sortiraj()">Sortiraj</button>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>Pretraži</td>
        <td>po nazivu</td>
        <td>
            <input type="text" [(ngModel)]="naziv" name="naziv">
        </td>
        <td>i/ili adresi</td>
        <td>
            <input type="text" [(ngModel)]="adresa" name="adresa">
        </td>
        <td>i/ili tipu</td>
        <td>
            <input type="text" [(ngModel)]="tip" name="tip">
        </td>
        <td>
            <button (click)="pretrazi()">Pretraži</button>
        </td>
    </tr>
</table>
<table *ngIf="pretrazena_lista.length > 0">
    <tr>
        <th>Naziv</th>
        <th>Tip</th>
        <th>Adresa</th>
        <th>Konobari</th>
    </tr>
    <tr *ngFor="let restoran of pretrazena_lista">
        <td>{{restoran.naziv}}</td>
        <td>{{restoran.tip}}</td>
        <td>{{restoran.adresa}}</td>
        <td>
            <ul *ngFor="let konobar of restoran.konobari">
                <li>{{konobar.ime}} {{konobar.prezime}}</li>
            </ul>
        </td>
    </tr>
</table>
<p *ngIf="pretrazena_lista.length == 0">Nema rezultata!</p>

<footer>Kutak dobre hrane - Programiranje internet aplikacija 2024.</footer>